.Images{
    background-image: linear-gradient(rgba(239, 4, 4, 0.77),rgba(108, 117, 125, 0.85)) , url('./Images/laughing.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
   
    text-align: center;
}

.Images-div{
    padding: 18% 10% 10% 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}
.Images-div h1{
    font-size: 400%;
    padding-bottom: 20px;
}
 p{
    width: 80%;
    padding-left: 20%;
    text-align: center;
}
.reviews{
    background-image:  url('./Images/background.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}